{{ partial "header" . }}
<main>
  <p>The way that text terminals work on UNIX and operating systems derived from it has not fundamentally changed for the last 40 years. Even though security concerns have become a focus of attention, most terminal handling code is still running in kernel space. And even though graphical interfaces have conquered every part of our life, text terminals still struggle to provide consistent true-color support, and cannot display bitmap images reliably.</p>
  <p>The <strong>VT6 project</strong>, though still in its earliest stages, is working towards a modern protocol for virtual terminals, which, among other things, runs almost entirely in userspace and provides a modular basis on which to serve both legacy clients and forward-looking terminals that want to provide modern capabilities to applications.</p>
  <p>Development is taking place on <a href="https://github.com/vt6/vt6">GitHub</a>.</p>
  <h2>Specifications</h2>
  <ul>
  {{ range .Data.Pages }}
    <li>
      <a href="{{.Permalink}}">{{.Title}} &mdash; {{.Description}}</a>
      {{- if in (findRE "0$" .Title) "0" }} <em>(Draft)</em>{{ end -}}
    </li>
  {{ end }}
  </ul>
</main>
{{ partial "footer" . }}
