{{ partial "header" . }}
<main>
  <p>Occaecati neque nostrum ratione aperiam ea quia culpa. Est blanditiis aut nostrum rerum expedita voluptatibus explicabo. Possimus et ea rem impedit mollitia. Rerum quo totam aut porro pariatur. Est eveniet et suscipit est perferendis quia. Et maiores beatae occaecati nulla est quo sequi.</p>
  <p>Quas deserunt sint assumenda est et quo voluptatum. Doloremque a cumque consequatur a labore. Eos quae aut praesentium iusto accusantium.</p>
  <p>A doloremque dolor eum aspernatur sunt nobis. Quibusdam perferendis dolorum laudantium odio expedita aliquid. Voluptas expedita ullam itaque nesciunt nisi itaque architecto. Dolore expedita vero sit porro aut.</p>
  <p>Quae accusantium est laborum laborum animi. Natus atque quas cum incidunt est praesentium possimus. Rerum laborum non fuga deleniti voluptas eius quo. Voluptas qui sunt ex et. Totam expedita quo ab ut aut iure odio. Dicta est sit itaque sunt distinctio dignissimos eligendi velit.</p>
  <p>Facilis ipsa voluptatem earum cumque. Rem libero maxime praesentium quam et. Magnam provident consequatur nulla est sapiente voluptatem autem molestias. Quibusdam impedit explicabo nemo soluta voluptas. Quis et eos saepe ea dolorem beatae. Animi consectetur nihil sunt.</p>
</main>
{{ partial "footer" . }}
