<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}} &mdash; {{.Site.Title}}</title>
  <link rel="alternate" type="application/rss+xml" href="/rss.xml">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{.Title}} &mdash; {{.Site.Title}}" />
  {{ if .Description -}}
    <meta name="description" content="{{.Description}}">
    <meta property="og:description" content="{{.Description}}" />
  {{ end -}}
  <link rel="canonical" href="{{.Permalink}}" />
  <meta property="og:url" content="{{.Permalink}}" />
  <link rel="stylesheet" type="text/css" href="{{ absURL "css/vt6.css" }}" />
</head>
<body>
  <header>
    <h1>
      <img alt="VT6" src="/img/logo-dark-wide.png" /><div><span>A modern protocol for virtual terminals</span></div>
    </h1>
  </header>
