html {
  font-size: 16px; /* needs to be set here to establish the correct root-em */
}
body {
  margin: 0;
  font-family: "Source Sans Pro", system-ui, sans-serif;
  line-height: 1.6rem;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-kerning: normal;
}

/******************** header ********************/

header, nav {
  background-size: contain;
  margin-left: calc(50vw - 400px);
  position: relative;
  z-index: 1;
}
@media(max-width: 800px) {
  header, nav {
    margin-left: 0;
  }
}

header::before, nav::before {
  position: absolute;
  top: 0;
  right: 100%;
  width: 100vw;
  content: " ";
  background-size: contain;
  background-position: right;
}

header, header::before {
  height: 96px;
  background-image: url(/static/logo-dark-plain.png);
}

header > h1 {
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin: 0;
}
header > h1 img {
  height: 96px;
  padding-right: 8px;
  border: 0 !important;
}
header > h1 > div {
  flex: 2 5rem;
}
header > h1 > div > span {
  display: table-cell;
  vertical-align: middle;
  height: 96px;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: normal;
}

/******************** navigation ********************/

/* NOTE: Some behavior of nav and nav::before is shared with the header, see above. */

nav, nav::before {
  min-height: 2.5rem;
  background-color: black;
}

nav {
  line-height: 2.5rem;
  padding: 0 0.5rem;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 1.5rem;
  line-height: 1.5rem;
}

nav > ul > li {
  display: inline-block;
  height: 1.5rem;
  padding: 0 0.3rem;
}

nav > ul > li > a {
  color: white !important;
  text-decoration: none !important;
}

nav > ul.breadcrumb {
  background: #222;
  border-radius: 0.25rem;
}


/******************** content ********************/

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

main p, main ul, main ol {
  font-family: "Source Serif Pro", serif;
  hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  text-align: justify;
}
main > :not(pre) code {
  white-space: nowrap; /* do not break lines inside inline code, only in long snippets */
}

main p.rationale {
  border: 1px dashed #222;
  background: #EEE;
  padding: 0.5rem;
}

main > svg {
  width: 100%;
  height: auto;
}

main h1 {
  font-size: 1.8rem;
  line-height: 2.4rem;
}
main h2 {
  font-size: 1.5rem;
  line-height: 2.1rem;
}
main h3 {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
main h4 {
  font-size: 1rem;
  line-height: 1.6rem;
}

main pre {
  border: 1px dashed black;
  padding: 0.5rem;
  max-width: 100%;
  overflow-x: auto;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

/******************** draft marker ********************/

#draft {
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100vh;
  height: 5rem;
  z-index: 0;
  box-sizing: border-box;
  padding-right: 96px;
  background: #900;
  line-height: 5rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  color: white;
  transform: rotate(-90deg);
  transform-origin: left top;
}
@media(max-width: 1000px) {
  #draft {
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
  }
  main.draft {
    max-width: 100%;
    padding-left: 4rem;
  }
}
